<launch>

	<!-- run ROSARIA -->
	<node pkg="rosaria" type="RosAria" name="RosAria" args=" _port:=localhost:8101" output="screen">
		 <remap from="/RosAria/cmd_vel" to="/cmd_vel" />
		 <remap from="/RosAria/pose" to="/odom" />
		 <!--remap from="/RosAria/sonar" to="/sonar" /-->
        </node>

	<!-- Optionally run something like AMCL -->

	<!-- Publish TF between Sonar and Base_Link -->
	<node pkg="tf" type="static_transform_publisher" name="sonar_T_base_link" args="0 0 0 0 0 0 base_link sonar_frame 100" />
	<node pkg="tf" type="static_transform_publisher" name="map_T_odom" args="0 0 0 0 0 0 map odom 100" />

	<!-- run Navigation Stack Move Base -->
  	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
	    <rosparam file="$(find teb_local_planner)/cfg/costmap_common_params.yaml" command="load" ns="global_costmap" />
	    <rosparam file="$(find teb_local_planner)/cfg/costmap_common_params.yaml" command="load" ns="local_costmap" />
	    <rosparam file="$(find teb_local_planner)/cfg/local_costmap_params.yaml" command="load" />
	    <rosparam file="$(find teb_local_planner)/cfg/global_costmap_params.yaml" command="load" />
	    <rosparam file="$(find teb_local_planner)/cfg/teb_local_planner_params.yaml" command="load" />
	    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
	    <!--param name="base_global_planner" value="straight_global_planner/StraightROS" /-->
	    <param name="controller_frequency" value="10.0" />
 	</node>

	<!-- Load the pioneer model -->
	<include file="$(find p2os_urdf)/launch/pioneer3dx_urdf.launch"/>


  	<!-- RVIZ -->
  	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find teb_local_planner)/cfg/rviz_teb_rosaria.rviz" />
</launch>

