<launch>
	<!-- Optionally run something like AMCL -->

	<!-- run Navigation Stack Move Base -->
  	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
	    <rosparam file="$(find teb_local_planner)/cfg/costmap_common_params.yaml" command="load" ns="global_costmap" />
	    <rosparam file="$(find teb_local_planner)/cfg/costmap_common_params.yaml" command="load" ns="local_costmap" />
	    <rosparam file="$(find teb_local_planner)/cfg/local_costmap_params.yaml" command="load" />
	    <rosparam file="$(find teb_local_planner)/cfg/global_costmap_params.yaml" command="load" />
	    <rosparam file="$(find teb_local_planner)/cfg/teb_local_planner_params.yaml" command="load" />
	    <!-- rosparam file="$(find teb_local_planner)/cfg/costmap_converter_params.yaml" command="load" /--> <!-- Enable to activate costmap_conversion plugins -->
	    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
	    <!--param name="base_global_planner" value="straight_global_planner/StraightROS" /-->
	    <param name="controller_frequency" value="10.0" />

	    <remap from="map" to="/map" /> <!-- This file will be wrapped with namespace so we have to remove namespace from all appearances of map (there is only one map) -->
	    <remap from="move_base_simple/goal" to="/move_base_simple/goal"/> <!-- We have only a single robot now, that is controlled via goals -->
 	</node>
</launch>

